//{
//  "presets": [
//    [
//      "@babel/preset-env",
//      {
//        "targets": {
//          "ie": 11
//        },
//        "corejs": 3,
//        "useBuiltIns": "usage"
//      }
//    ],
//    [
//      "@babel/preset-typescript"
//    ]
//  ],
//  "plugins": [
//  ]
//}

{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11"
        },
        "corejs": 3,
        "modules": false,
        "useBuiltIns": "entry"
      }
    ],
    [
      "@babel/preset-typescript"
    ]
  ],
  "plugins": [
  ]
}
