USE [master]
GO
USE [test1]
GO
/****** Object:  Table [dbo].[MACHINE]    Script Date: 2020/12/23 19:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MACHINE](
	[MACHINE_ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SVC_NAME] [nvarchar](50) NOT NULL,
	[MSID] [nvarchar](128) NOT NULL,
	[PCID] [nvarchar](128) NOT NULL,
	[PCID_VER] [int] NOT NULL,
	[PCID_UPDATE_DATE] [datetime] NOT NULL,
	[CERT_HASH] [nvarchar](50) NOT NULL,
	[HOST_SECRET2] [nvarchar](50) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[UPDATE_DATE] [datetime] NOT NULL,
	[LAST_SERVER_DATE] [datetime] NOT NULL,
	[LAST_CLIENT_DATE] [datetime] NOT NULL,
	[NUM_SERVER] [int] NOT NULL,
	[NUM_CLIENT] [int] NOT NULL,
	[CREATE_IP] [nvarchar](64) NOT NULL,
	[CREATE_HOST] [nvarchar](256) NOT NULL,
	[LAST_IP] [nvarchar](64) NOT NULL,
	[LAST_CLIENT_IP] [nvarchar](64) NOT NULL,
	[REAL_PROXY_IP] [nvarchar](64) NOT NULL,
	[LAST_FLAG] [nvarchar](64) NOT NULL,
	[FIRST_CLIENT_DATE] [datetime] NULL,
	[WOL_MACLIST] [nvarchar](max) NOT NULL,
	[SERVERMASK64] [bigint] NOT NULL,
	[JSON_ATTRIBUTES] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MACHINE] PRIMARY KEY CLUSTERED 
(
	[MACHINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAT]    Script Date: 2020/12/23 19:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAT](
	[STAT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STAT_DATE] [datetime] NOT NULL,
	[STAT_NUM_GATES] [int] NOT NULL,
	[STAT_NUM_SERVERS] [int] NOT NULL,
	[STAT_NUM_CLIENTS] [int] NOT NULL,
	[STAT_NUM_UNIQUE_CLIENTS] [int] NOT NULL,
	[STAT_HOSTNAME] [nvarchar](256) NOT NULL,
	[STAT_JSON] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_STAT] PRIMARY KEY CLUSTERED 
(
	[STAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SVC]    Script Date: 2020/12/23 19:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVC](
	[SVC_NAME] [nvarchar](50) NOT NULL,
	[SVC_TITLE] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_SVC_1] PRIMARY KEY CLUSTERED 
(
	[SVC_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAR]    Script Date: 2020/12/23 19:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAR](
	[VAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[VAR_NAME] [nvarchar](256) NOT NULL,
	[VAR_VALUE1] [nvarchar](max) NOT NULL,
	[VAR_VALUE2] [nvarchar](max) NULL,
	[VAR_VALUE3] [nvarchar](max) NULL,
	[VAR_VALUE4] [nvarchar](max) NULL,
	[VAR_VALUE5] [nvarchar](max) NULL,
	[VAR_VALUE6] [nvarchar](max) NULL,
 CONSTRAINT [PK_VARS] PRIMARY KEY CLUSTERED 
(
	[VAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CERT_HASH]    Script Date: 2020/12/23 19:54:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CERT_HASH] ON [dbo].[MACHINE]
(
	[CERT_HASH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MSID]    Script Date: 2020/12/23 19:54:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSID] ON [dbo].[MACHINE]
(
	[MSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PCID_AND_SVCNAME]    Script Date: 2020/12/23 19:54:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [PCID_AND_SVCNAME] ON [dbo].[MACHINE]
(
	[PCID] ASC,
	[SVC_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_PCID_VER]  DEFAULT ((0)) FOR [PCID_VER]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_PCID_UPDATE_DATE]  DEFAULT ('1800/01/01') FOR [PCID_UPDATE_DATE]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_HOST_SECRET2]  DEFAULT ('') FOR [HOST_SECRET2]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_CREATE_DATE]  DEFAULT ('1800/01/01') FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_UPDATE_DATE]  DEFAULT ('1800/01/01') FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_LAST_SERVER_DATE]  DEFAULT ('1800/01/01') FOR [LAST_SERVER_DATE]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_LAST_CLIENT_DATE]  DEFAULT ('1800/01/01') FOR [LAST_CLIENT_DATE]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_NUM_SERVER]  DEFAULT ((0)) FOR [NUM_SERVER]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_NUM_CLIENT]  DEFAULT ((0)) FOR [NUM_CLIENT]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_CREATE_IP]  DEFAULT ('') FOR [CREATE_IP]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_CREATE_HOST]  DEFAULT ('') FOR [CREATE_HOST]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_LAST_IP]  DEFAULT ('') FOR [LAST_IP]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_LAST_CLIENT_IP]  DEFAULT ('') FOR [LAST_CLIENT_IP]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_REAL_PROXY_IP]  DEFAULT ('') FOR [REAL_PROXY_IP]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_LAST_FLAG]  DEFAULT ('') FOR [LAST_FLAG]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_FIRST_CLIENT_DATE]  DEFAULT ('1800/01/01') FOR [FIRST_CLIENT_DATE]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_WOL_MACLIST]  DEFAULT ('') FOR [WOL_MACLIST]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_SERVERMASK64]  DEFAULT ((0)) FOR [SERVERMASK64]
GO
ALTER TABLE [dbo].[MACHINE] ADD  CONSTRAINT [DF_MACHINE_JSON_META]  DEFAULT ('') FOR [JSON_ATTRIBUTES]
GO
ALTER TABLE [dbo].[STAT] ADD  CONSTRAINT [DF_STAT_STAT_HOSTNAME]  DEFAULT ('') FOR [STAT_HOSTNAME]
GO
ALTER TABLE [dbo].[STAT] ADD  CONSTRAINT [DF_STAT_STAT_JSON]  DEFAULT ('') FOR [STAT_JSON]
GO
