@model ThinWebClientModelOtp
@{
    Page.Title = Page.Stb["THINWEB_HELP1"];
}
<h2 class="title is-4">@Page.FullTitle</h2>

<div class="box">
    <div class="content">
        <p><strong><i class="fas fa-dog"></i> <stb>THINWEB_HELP2</stb></strong></p>


        <h3 class="title is-4"><i class="far fa-keyboard"></i> <stb>THINWEB_HELP3</stb></h3>

        <p><stb>THINWEB_HELP4</stb></p>

        <h4 class="title is-5"><stb>THINWEB_HELP5</stb></h4>
        <ul>
            <li><stb>THINWEB_HELP6</stb></li>
            <li><stb>THINWEB_HELP7</stb></li>
            <li><stb>THINWEB_HELP8</stb></li>
        </ul>

        <h4 class="title is-5"><stb>THINWEB_HELP9</stb></h4>
        <ul>
            <li><stb>THINWEB_HELP10</stb></li>
        </ul>

        <h4 class="title is-5"><stb>THINWEB_HELP11</stb></h4>
        <ul>
            <li><stb>THINWEB_HELP12</stb></li>
            <li><stb>THINWEB_HELP13</stb></li>
            <li><stb>THINWEB_HELP14</stb></li>
            <li><stb>THINWEB_HELP15</stb></li>
            <li><stb>THINWEB_HELP15_2</stb></li>
        </ul>

        <h4 class="title is-5"><stb>THINWEB_HELP16</stb></h4>
        <ul>
            <li><stb>THINWEB_HELP17</stb></li>
            <li><stb>THINWEB_HELP18</stb></li>
            <li><stb>THINWEB_HELP19</stb><br><br></li>
            <li><stb>THINWEB_HELP20</stb></li>
        </ul>

        <h4 class="title is-5"><stb>THINWEB_HELP21</stb></h4>
        <p><stb>THINWEB_HELP22</stb></p>
        <ul>
            <li>
                <stb>THINWEB_HELP23</stb>
                <ul>
                    <li><a href="@Page.Stb["THINWEB_HELP24"]" target="_blank"></a><stb>THINWEB_HELP25</stb></li>
                    <li><a href="@Page.Stb["THINWEB_HELP26"]" target="_blank"></a><stb>THINWEB_HELP27</stb></li>
                    <li><a href="@Page.Stb["THINWEB_HELP28"]" target="_blank"></a><stb>THINWEB_HELP29</stb></li>
                    <li><stb>THINWEB_HELP30</stb></li>
                </ul>
            </li>
        </ul>

        <h3 class="title is-4"><i class="fas fa-desktop"></i> <stb>THINWEB_HELP31</stb></h3>

        <p><stb>THINWEB_HELP32</stb></p>

        <ul>
            <li>
                <stb>THINWEB_HELP33</stb>
                <ul>
                    <li><stb>THINWEB_HELP34</stb></li>
                    <li><stb>THINWEB_HELP35</stb></li>
                    <li><stb>THINWEB_HELP36</stb></li>
                </ul>
            </li>
            <li>
                <stb>
                    THINWEB_HELP37
                </stb>
                <ul>
                    <li><stb>THINWEB_HELP38</stb></li>
                    <li><stb>THINWEB_HELP39</stb></li>
                    <li><stb>THINWEB_HELP40</stb></li>
                </ul>
            </li>
            <li>
                <stb>
                    THINWEB_HELP41
                </stb>
                <ul>
                    <li><stb>THINWEB_HELP42</stb></li>
                    <li><stb>THINWEB_HELP43</stb></li>
                    <li><stb>THINWEB_HELP44</stb></li>
                </ul>
            </li>
            <li>
                <stb>THINWEB_HELP45</stb>
                <ul>
                    <li><stb>THINWEB_HELP46</stb></li>
                </ul>
            </li>
            <li>
                <stb>
                    THINWEB_HELP47
                </stb>
                <ul>
                    <li><stb>THINWEB_HELP48</stb></li>
                    <li><stb>THINWEB_HELP49</stb></li>
                    <li><stb>THINWEB_HELP50</stb></li>
                </ul>
            </li>
        </ul>


        <h4 class="title is-5"><i class="fas fa-mouse-pointer"></i> <stb>THINWEB_HELP51</stb></h4>
        <ul>
            <li><stb>THINWEB_HELP52</stb></li>
        </ul>

        <h4 class="title is-5"><i class="fas fa-mobile-alt"></i> <stb>THINWEB_HELP57</stb></h4>
        <ul>
            <li><stb>THINWEB_HELP58</stb></li>
            <li><stb>THINWEB_HELP59</stb></li>
        </ul>

        <h4 class="title is-5"><i class="far fa-hand-paper"></i> <stb>THINWEB_HELP53</stb></h4>
        <ul>
            <li><stb>THINWEB_HELP54</stb></li>
            <li><stb>THINWEB_HELP55</stb></li>
            <li><stb>THINWEB_HELP56</stb></li>
        </ul>

        <p>　</p>

        <p>　</p>
    </div>
</div>

