@model ThinWebClientModelRemote
@{
    Page.Title = $"\"{Model.ConnectOptions!.Pcid}\" のリモートデスクトップ";
}
<h2 class="title is-4">@Page.Title</h2>

<!-- Guacamole -->
<script src="https://cdn.jsdelivr.net/npm/guacamole-common-js@1.3.0/dist/guacamole-common.js" integrity="sha256-eJC0FuytKBVo+g4zWhEWEmrf7RQGVcbO+7IQ3OwuLLA=" crossorigin="anonymous"></script>

<!-- Display -->
<div id="display"></div>

<!-- Init -->
<script type="text/javascript">
    /* <![CDATA[ */
    window.onerror = function (msg, url, linenumber) {
        console.log('Error message: ' + msg + '\nURL: ' + url + '\nLine Number: ' + linenumber);
        alert('Error message: ' + msg + '\nURL: ' + url + '\nLine Number: ' + linenumber);
        return true;
    }

    // Get display div from document
    var display = document.getElementById("display");

    var tunnel = new Guacamole.WebSocketTunnel("@Model.WebSocketUrl");

    tunnel.onerror = function (status) {
        console.log(status);
        alert("Tunnel Error Code: " + status.code);
    };

    // Instantiate client, using a WebSocket tunnel for communications.
    var guac = new Guacamole.Client(tunnel);

    // Add client to display div
    display.appendChild(guac.getDisplay().getElement());

    // Error handler
    guac.onerror = function (status) {
        console.log(status);
        alert("Remote Desktop Error Code: " + status.code);
    };

    // Connect
    guac.connect("id=@Model.SessionId");

    // Disconnect on close
    window.onunload = function () {
        guac.disconnect();
    }

    // Mouse
    var mouse = new Guacamole.Mouse(guac.getDisplay().getElement());

    mouse.onmousedown =
        mouse.onmouseup =
        mouse.onmousemove = function (mouseState) {
            guac.sendMouseState(mouseState);
        };

    // Keyboard
    var keyboard = new Guacamole.Keyboard(document);

    keyboard.onkeydown = function (keysym) {
        console.log(keysym);
        guac.sendKeyEvent(1, keysym);
    };

    keyboard.onkeyup = function (keysym) {
        guac.sendKeyEvent(0, keysym);
    };

    /* ]]> */</script>
<p>　</p>
<p>Use this page to detail your site's privacy policy.</p>
