@model ThinWebClientModelOtp
@{
    Page.Title = $"ワンタイムパスワード (OTP) 認証 - \"{Model.ConnectOptions!.Pcid}\" への接続";
}
<h2 class="title is-4">@Page.Title</h2>

<div class="box">
    <form method="post">
        <input name="RequestId" type="hidden" value="@Model.RequestId">
        <input name="FormType" type="hidden" value="SessionOtp">

        <img src="~/images/otp.jpg" width="500" height="188" />

        <p>シン・テレワークシステム サーバーの設定画面で事前設定されているメールアドレスに、ワンタイムパスワード (OTP) が送付されました。</p>
        <p>メールをご確認いただき、OTP を入力してください。</p>

        <p>　</p>

        <div class="field">
            <label class="label">ワンタイムパスワード (OTP):</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="text" style="font-weight: bold" name="otp" id="otp">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
        </div>

        <p>　</p>

        <p>しばらく経過してもメールが届かない場合は、一度キャンセルしてから、再度ログインを試行してください。</p>

        <p>　</p>

        <div class="field">
            <div class="control">
                <button class="button is-link" style="font-weight: bold" type="submit"><i class="fas fa-arrow-circle-right"></i>&nbsp;OK</button>
                <a class="button is-info is-light" style="font-weight: bold" href="/?id=@Model.Profile!.Pcid._MakeVerySafeAsciiOnlyNonSpaceFileName()"><i class="fas fa-times-circle"></i>&nbsp;キャンセル</a>
            </div>
        </div>


    </form>
</div>

@section Scripts {
    <script>
        Main.SessionOtp_Load(document);
        Main.Common_StartSendHeartBeat("@Model.SessionId", "@Model.RequestId");
    </script>
}
