@model ThinWebClientModelSessionAuth
@{
    Page.Title = $"ユーザー認証 - \"{Model.ConnectOptions!.Pcid}\" への接続";
}
<h2 class="title is-4">@Page.Title</h2>

<form method="post">
    パスワード:
    <input name="RequestId" type="hidden" value="@Model.RequestId">
    <input name="FormType" type="hidden" value="Auth">
    <input name="Password" type="password" value="">
    <input name="Submit1" type="submit" value="OK">
</form>

<p>　</p>
<p>Use this page to detail your site's privacy policy.</p>
